In [1]:
def permute(seq, i, n):
    if i == n:
        retval.append(list(seq))
    for j in range(i, n):
        seq[j], seq[i] = seq[i], seq[j]
        permute(seq, i + 1, n)
        seq[j], seq[i] = seq[i], seq[j]

# Thanks Pal Drange

# retval = []
# permute(['A','B','C'],0,3)
# print(retval)

In [2]:
retval = []
permute(['A','B','C'],0,3)
print(retval)

[['A', 'B', 'C'], ['A', 'C', 'B'], ['B', 'A', 'C'], ['B', 'C', 'A'], ['C', 'B', 'A'], ['C', 'A', 'B']]

In [3]:
retval

[[0, 1, 2], [0, 2, 1], [1, 0, 2], [1, 2, 0], [2, 1, 0], [2, 0, 1]]

In [18]:
a = [1,2,3]

In [20]:
b=list(a)

In [21]:
seq = [1,2,3]
seq[0], seq[1] = seq[1], seq[0]

In [22]:
seq

[2, 1, 3]